
@page "/"
@inject IEducationService EducationService
@inject IWorkExperienceService WorkService
@inject IProjectService ProjectService
@inject ISkillService SkillService
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [StreamRendering]
@rendermode InteractiveServer


<div class="container-fluid p-0">
	<img class="background-img" src="cvBackground.webp" />
	<div class="navigation-container">
		<NavLink class="custom-link" href="Account/Login">Log In</NavLink>
		<NavLink class="custom-link" href="Account/Register">Register</NavLink>
        
		<AuthorizeView>
			<Authorized> 
				<NavLink class="custom-link" href="Account/Manage">Manage account</NavLink>
				<form action="Account/Logout" method="post" class="d-inline">
					<AntiforgeryToken/>
					<input type="hidden" name="ReturnUrl" value="@currentUrl"/>
					<button type="submit" class="btn btn-link custom-link p-0">
						Logout
					</button>
				</form>
			</Authorized>
		</AuthorizeView>

     
	</div>

	<div class="d-flex flex-column justify-content-center align-items-center" >
		<div class="glassmorphism">
			<h1>Angela Emanuelsson</h1>
			<h6>.NET Cloud Developer student</h6>
		</div>
		<div class="glassmorphism">
            
			<div class="content">  
				<div class="col-md-5 text-center">
					<img src="cv3.jpg" class="profile-image" alt="Min profilbild">
				</div>
				<div class=" col-md-7 contact-info">
					<h5>Contact Information</h5>
					<h6 class="fw-bold">Name:</h6>
					<p>Angela Emanuelsson</p>
					<h6 class="fw-bold">Mail:</h6>
					<a href="mailto:angela.emanuelsson@iths.se">angela.emanuelsson@iths.se</a>
					<h6 class=" fw-bold mt-3">Phone:</h6>
					<p>0761898908</p>

				</div>
			</div>
			<div class="social-links">
				<a href="https://github.com/AngelaEm" target="_blank"><img src="gitHub.png" alt="GitHub" class="icon"></a>
				<a href="https://www.linkedin.com/in/angelaemanuelsson/" target="_blank"><img src="linkedin.png" alt="LinkedIn" class="icon"></a>
			</div>
		</div>
		<div class="textruta glassmorphism ms-5 me-5 mt-3 ps-3 pe-3">
			<h5 style="font-weight:bold">About me</h5>
			<p>
				Hello, I´m Angela!
				With a solid background as a teacher and increasingly
				more knowledge in .NET and cloud development, I am ready
				for a new career in IT. My pedagogical experience has
				given me strengths such as creativity, flexibility, the
				ability to structure, and the ability to collaborate well
				with different people. These qualities, combined with my
				new technical skills, make me believe that I am well-suited
				for the IT industry. I am curious and quick to learn
				and look forward to further developing within IT.
			</p>
		</div> 
		<!-- EducationTable -->
		<div class="table-responsive glassmorphism mt-5">
			<h2>My Educations</h2>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Education</th>
					<th>Institution</th>
					<th>StartDate</th>
					<th>EndDate</th>
					<th>Location</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				@if (educations != null)
				{
					foreach (var education in educations)
					{
						<tr>
							<td>@education.EducationName</td>
							<td>@education.InstitutionName</td>
							<td>@education.StartDate</td>
							<td>@education.EndDate</td>
							<td>@education.Location</td>
							<td>@education.Description</td>
						</tr>
					}
				}
				else
				{
					<p>No educations to show...</p>
				}
				</tbody>
			</table>
		</div>

		<!-- WorkExperienceTable -->
		<div class="table-responsive glassmorphism mt-5">
			<h2>My Workexperience</h2>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Company</th>
					<th>Position</th>
					<th>StartDate</th>
					<th>EndDate</th>
					<th>Location</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var work in workExperience)
				{
					<tr>
						<td>@work.CompanyName</td>
						<td>@work.Position</td>
						<td>@work.StartDate</td>
						<td>@work.EndDate</td>
						<td>@work.Location</td>
						<td>@work.WorkDescription</td>
					</tr>
				}
				</tbody>
			</table>
		</div>

   
		<!-- SkillTable -->
		<div class="table-responsive glassmorphism mt-5">
			<h2>My Skills</h2>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Technology</th>
					<th>Years of Experience</th>
					<th>Skill Level</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var skill in skills)
				{
					<tr>
						<td>@skill.TechnologyName</td>
						<td>@skill.YearsOfExperience</td>
						<td>
							<div class="progress">
								<div class="progress-bar" role="progressbar"
								     style="width: @skill.SkillLevel%; background-color: #800020;"
								     aria-valuenow="@skill.SkillLevel"
								     aria-valuemin="0" aria-valuemax="100">
									@skill.SkillLevel%
								</div>
							</div>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>


		<!-- ProjectTable -->
		<div class="table-responsive glassmorphism mt-5 mb-5">
			<h2>My Projects</h2>
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Technology</th>
					<th>Link</th>
				</tr>
				</thead>
				<tbody>
				@foreach (var project in projects)
				{
					<tr>
						<td>@project.ProjectName</td>
						<td>@project.Description</td>
						<td>@project.TechnologiesUsed</td>
						<td><a href="@project.ProjectLink">Click here</a></td>
					</tr>
				}
				</tbody>
			</table>
		</div>
		
		
		<div class="glassmorphism">
			<h1>@AdviceModel.Slip.Advice</h1>
		</div>
		<br/>
		<br/>
	</div>

</div>