@page "/Account/Manage/Educations"
@using Common.Models
@using Common.Interfaces
@inject IEducationService EducationService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<NavLink class="custom-link ms-0" href="/">Home</NavLink>

<h3>Educations</h3>

<EditForm Model="@newEducation" OnValidSubmit="@HandleValidSubmit" FormName="EducationForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div>
        <label class="form-label">Choose Education:</label>
        <select class="form-control" value="@newEducation" @onchange="OnEducationSelected">
            <option value="addNew"></option>
            @foreach(var education in educations)
            {
                <option value="@education.Id">@education.InstitutionName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="InstitutionName">Institution:</label>
        <InputText id="institutionName" class="form-control" @bind-Value="newEducation.InstitutionName" />
    </div>
    <div class="form-group">
        <label for="EducationName">Education Name:</label>
        <InputText id="EducationName" class="form-control" @bind-Value="newEducation.EducationName" />
    </div>
    <div class="form-group">
        <label for="StartDate">StartDate:</label>
        <InputDate id="startDate" class="form-control" @bind-Value="newEducation.StartDate"/>
    </div>
    <div class="form-group">
        <label for="EndDate">EndDate:</label>
        <InputDate id="endDate" class="form-control" @bind-Value="newEducation.EndDate"/>
    </div>
    <div class="form-group">
        <label for="Location">Location:</label>
        <InputText id="location" class="form-control" @bind-Value="newEducation.Location"/>
    </div>
    <div class="form-group">
        <label for="Description">Description:</label>
        <InputTextArea id="description" class="form-control" @bind-Value="newEducation.Description"/>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-danger" @onclick="DeleteEducation">Delete</button>

</EditForm>